.state {
    font-weight: 600;
    text-transform: capitalize;
}

.success {
    color: green;
}

.warning {
    color: orange;
}

.fail {
    color: red;
}

/* Flex styles */
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
