.container {
    width: 1200px;
    height: 400px;
    overflow: scroll;
}

.container a {
    text-decoration: none;
    color: #364152;
}

.container table {
    width: 1200px;
}

.container table th {
    text-align: left;
    padding: 1rem;
    text-transform: capitalize;
}

.container table td {
    font-size: 0.8rem;
    min-width: 250px;
    padding: 1rem;
    min-height: 70px;
}

/* Publish state */
.published {
    background: #198754;
    padding: 0.225rem;
    text-transform: capitalize;
    display: block;
    border-radius: 5px;
    color: white;
    text-align: center;
}

/* Action buttons */
.actionButtons {
    display: flex;
    align-items: center;
    gap: 1rem;
    min-height: 70px;
}

.actionButtons svg:hover {
    cursor: pointer;
}

/* Order state */
.orderButton button:first-child {
    min-width: 100px;
    padding: 0.2rem;
    font-size: 0.85rem;
}

.orderButton button svg {
    width: 80%;
}
